body
{
font-family: arial, sans-serif;
}
p.error
{
color: red;
}
p.explanatory
{
font-style: italic;
}
textarea.fullwidthinput
{
width:100%;
}
th
{
background-color: #CCCCCC;
padding: 5px;
}
tr.even
{
background-color: #66CCFF;
}
tr.odd
{
background-color: #99FFFF;
}
td
{
padding: 2px;
}
td.idnumber
{
text-align: right;
}
