body
{
font-family: arial, sans-serif;
}
div.loginstatus
{
font-size: 133%;
border: solid blue 2px;
background-color: #99CCFF;
padding: 10px;
margin: 10px;
text-align: center;
}
div.loginstatus p
{
display: inline;
margin: 0px 0.5em;
}
div.hidden
{
display: none;
}
div.revealed
{
display: block;
}
footer
{
font-size: 75%;
}
nav
{
font-size: 133%;
border: solid yellow 2px;
background-color: #FFFFCC;
padding: 10px;
margin: 10px;
text-align: center;
}
p.error
{
color: red;
}
p.explanatory
{
font-style: italic;
}
p.footnote
{
font-style: italic;
font-size: 75%;
}
p.responsecorrect
{
background-color: #99FFFF;
}
p.responseincorrect
{
background-color: #FFCCCC;
}
p.unauthorized
{
border: solid red 2px;
background-color: #FFCCCC;
padding: 10px;
margin: 10px;
text-align: left;
}
footer p
{
margin-top: 0px;
margin-bottom: 0px;
}
span.tocsymbol
{
border-bottom-width: 1px;
border-bottom-style: dotted;
}
span.username
{
font-weight: bold;
}
textarea.fullwidthinput
{
width:100%;
}
th
{
background-color: #CCCCCC;
padding: 5px;
}
tr.even
{
background-color: #66CCFF;
}
tr.odd
{
background-color: #99FFFF;
}
td
{
padding: 2px;
}
td.alert
{
background-color: #FFCC00;
}
td.count
{
text-align: right;
}
td.idnumber
{
text-align: right;
}
td.marker
{
text-align: center;
}
td.rank
{
text-align: right;
}
td.score
{
text-align: right;
}
ul
{
margin: 0px;
}
.navbar li
{
display: inline;
margin: 0px 5px;
}
.navbar li:before
{
content: "\2022";
margin-right: 0.5em;
}
.navbar li:first-of-type:before
{
content: "";
}
